:root {
    --primary-foreground-color: #000;
    --secondary-foreground-color: #ccc;
    --tertiary-foreground-color: #ddd;
    --background-color: #fff;
    --secondary-background-color: #f0f0f0;
    --tertiary-background-color: #fafafa;
    --program-background-color: #fff;
    --search-background-color: #fff;
    --shadow-color: rgba(0, 0, 0, 0.12);
    --button-background-color: #eee;
    --link-color: darkorange;
    --vertical-spacing: 1rem;
}

@media (prefers-color-scheme: dark) {

    :root {
        --primary-foreground-color: #fff;
        --secondary-foreground-color: #555;
        --tertiary-foreground-color: #333;
        --background-color: #171616;
        --secondary-background-color: #222;
        --tertiary-background-color: #222;
        --program-background-color: #333;
        --search-background-color: #333;
        --shadow-color: rgba(0, 0, 0, 0.5);
        --button-background-color: #2b2b2b;
        --link-color: darkorange;
    }
}

body {
    font-family: Helvetica, sans-serif;
    font-weight: 200;
    font-size: 17px;
    text-align: center;
    margin: 0;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    color: var(--primary-foreground-color);
    background-color: var(--background-color);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: var(--vertical-spacing);
}

table tbody tr:nth-child(odd) {
    background-color: var(--tertiary-background-color);
    transition: background-color .3s ease-in-out;
}

table td, table th {
    padding: 0.4em 0.8em;
}

table th {
    border-bottom: 1px solid var(--primary-foreground-color);
}

pre, code {
    background-color: var(--secondary-background-color);
}

code {
    border-radius: 0.2em;
    font-size: 0.8em;
    padding: 0.1em 0.2em;
}

pre:has(> code.language-mermaid), code.language-mermaid {
    background-color: var(--primary-background-color);
}

.hljs {
    background-color: var(--secondary-background-color);
}

h2 {
    border-bottom: 1px solid var(--primary-foreground-color);
    padding-bottom: var(--vertical-spacing);
}

p, details {
    line-height: 1.7em;
}

blockquote {
    border-left: 0.5em solid var(--secondary-foreground-color);
    font-style: italic;
    margin: 0 0 var(--vertical-spacing) 0;
    padding: 0 1em 0 0.5em;
}

header nav {
    text-align: center;
    font-weight: 400;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0 0.5em;
}

header ul li {
    display: inline-block;
    padding: 1em 0.5em;
}

header nav a {
    display: inline-block;
    color: var(--primary-foreground-color);
}

header > .icon {
    display: block;
    margin: auto;
}

h1 {
    text-align: center;
}

.search-header {
    text-align: center;
    max-width: 100%;
    margin: 0 1rem;
}

library-actions {
    display: block;
    padding-bottom: var(--vertical-spacing);
    text-align: center;
}

.lucky-button {
    font-size: 1rem;
}

form.search-form {
    position: relative;
    display: inline-block;
}

form.search-form input:placeholder-shown + button.clear {
    opacity: 0;
    pointer-events: none;
}

form.search-form button.clear {
    aspect-ratio: 1;
    background-color: var(--secondary-foreground-color);
    border-radius: 50%;
    border: none;
    padding: 0.3rem;
    position: absolute;
    right: 0;
    right: 0.6rem;
    top: 0.6rem;
    vertical-align: middle;
}

form.search-form button.clear img {
    display: block;
    height: 1.2rem;
    width: 1.2rem;
}

.search {
    background-color: var(--search-background-color);
    border-radius: 2.2rem;
    border: 1px solid var(--tertiary-foreground-color);
    box-shadow: 0 0 16px var(--shadow-color);
    box-sizing: border-box;
    color: var(--primary-foreground-color);
    font-size: 1.2rem;
    height: 3rem;
    margin: 0 auto calc(2 * var(--vertical-spacing)) auto;
    max-width: 100%;
    padding: 0 2.4rem 0 1rem;
    text-align: left;
}

.search::placeholder {
    color: var(--secondary-foreground-color);
}

header program-icon {
    display: block;
    margin-bottom: var(--vertical-spacing);
    text-align: center;
}

header program-title {
    display: block;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: var(--vertical-spacing);
    text-align: center;
}

header program-subtitle {
    display: block;
    font-size: 1.2em;
    margin-bottom: var(--vertical-spacing);
    text-align: center;
}

header program-category {
    color: var(--secondary-foreground-color);
    display: block;
    margin-bottom: var(--vertical-spacing);
    text-align: center;
}

header program-identifier, header program-platform {
    color: var(--secondary-foreground-color);
    display: block;
    font-family: monospace;
    font-size: 0.8em;
    margin-bottom: var(--vertical-spacing);
    text-align: center;
}

header program-platform ul {
    list-style: none;
    padding: 0;
}

header program-platform ul li {
    display: inline;
    text-transform: uppercase;
}

header program-platform ul li::after {
    content: ", ";
}

header program-platform ul li:last-child::after {
    content: "";
}

header program-actions {
    display: block;
    margin-bottom: var(--vertical-spacing);
    text-align: center;
}

ul.program-links li a {
    word-break: break-all;
}

.content, footer {
    text-align: left;
    max-width: 720px;
    margin: auto;
    font-weight: 200;
    padding: 0 1rem;
}

.content ul {
    line-height: 1.4em;
}

.content img {
    max-width: 100%;
    height: auto;
}

.content.full {
    max-width: initial;
    padding: 0;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container a {
    font-weight: bold;
}

footer {
    text-align: center;
    margin: 3rem auto 1rem auto;
    font-weight: 100;
}

footer p {
    margin: 0;
}

footer nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer nav ul li {
    display: inline;
    margin-right: 0.5em;
}

/* Icons */

.icon-grid {
    margin: 1rem;
}


/* Library */


.sha, .uid, variant-hash {
    font-family: monospace;
    color: var(--secondary-foreground-color);
    font-size: 0.8em;
}

.icon-wrapper {
    width: 48px;
    height: 48px;
    padding: 4px;
    border-radius: 8px;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

.icon {
    image-rendering: pixelated;
    vertical-align: middle;
    max-width: 48px;
    max-height: 48px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.screenshots {
    overflow-x: scroll;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
}

.screenshot {
    border: 1px solid var(--tertiary-background-color);
    max-width: 90%;
    height: auto;
    scroll-snap-align: left;
}

ul.applications {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem;
}

@media screen and (max-width: 1000px) {
    ul.applications {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    ul.applications {
        grid-template-columns: 1fr;
    }
}

ul.applications > li > a {
    color: var(--primary-foreground-color);
    display: block;
    padding: 1.6rem;
    border-radius: 1rem;
    background-color: var(--program-background-color);
    box-shadow: 0 0 16px var(--shadow-color);
    transition: all .3s ease-in-out;
    align-items: baseline;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* TODO: platforms */
ul.program-platforms {
    color: var(--secondary-foreground-color);
    font-size: 0.8em;
    list-style: none;
    padding: 0;
}

ul.program-platforms li {
    display: inline;
    text-transform: uppercase;
}

ul.program-platforms li::after {
    content: ", ";
}

ul.program-platforms li:last-child::after {
    content: "";
}

a.download {
    background-color: var(--button-background-color);
    border-radius: 2em;
    color: var(--link-color);
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    padding: 0.6em 1em;
    text-decoration: none;
    transition: background-color .3s ease-in-out;
}

.path {
    word-break: break-all;
    font-size: 15px;
}

ul.tags {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 1rem;
}

ul.tags li {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    padding: 0.2em 1em;
    font-size: 0.7rem;
}

ul.tags li.epoc32 {
    color: teal;
    background-color: rgba(0, 127, 127, 0.25);
}

ul.tags li.sibo {
    color: orange;
    background-color: rgba(255, 165, 0, 0.2);
}

ul.tags li.opa, ul.tags li.opo, ul.tags li.opl {
    color: red;
    background-color: rgba(255, 0, 0, 0.25);
}

ul.tags li.database {
    color: blue;
    background-color: rgba(0, 0, 255, 0.25);
}

ul.variants {
    list-style: none;
    padding: 0;
}

ul.variants > li {
    margin-bottom: calc(2 * var(--vertical-spacing));
}

variant-header {
    align-items: center;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 48px auto auto max-content;
    margin: 0 auto var(--vertical-spacing) auto;
    max-width: var(--content-width);
    padding: 0;
}

variant-icon {
}

variant-details {
    font-weight: 400;
}

variant-hash {
    display: block;
}

variant-size {
    text-align: right;
    vertical-align: middle;
}

variant-actions {
    text-align: right;
}

variant-title {
    font-weight: 600;
    display: block;
}

.file-size {
    color: var(--secondary-foreground-color);
}

ul.sources {
    width: 100%;
    padding: 0;
}

ul.sources li {
    list-style: none;
    padding: 0.4rem;
}

ul.sources li:nth-child(odd) {
    background: var(--tertiary-background-color);
    transition: background-color .3s ease-in-out;
}

.source-description {
    margin: var(--vertical-spacing);
    white-space: pre-wrap;
}
