---
# Usage:
#   The local site root / build directory must be specified on the command line using --extra-vars "root=".
#
- name: software.psion.info
  hosts: production

  tasks:

    - name: Configure site
      template:
        src: templates/software.psion.community
        dest: /etc/nginx/sites-available/software.psion.community
        owner: root
        group: root
      become: yes

    - name: Enable site
      file:
        src: /etc/nginx/sites-available/software.psion.community
        dest: /etc/nginx/sites-enabled/software.psion.community
        state: link
      become: yes

    - name: Create destination directory
      file:
        path: "/var/www/software.psion.info"
        state: directory
        owner: www-data
        group: www-data
        mode: 0775
      become: yes

    - name: Synchronize contents
      synchronize:
        src: "{{ root }}/"
        dest: "/var/www/software.psion.info/"
        owner: false
        group: false
        perms: false
        times: false
        rsync_opts:
          - "--delete-during"
          - "-v"

    - name: Reload Nginx
      service:
        name: nginx
        state: reloaded
      become: yes
