[[source]]

name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]

b2sdk = "*"
beautifulsoup4 = "*"
certifi = "*"
check-jsonschema = "*"
fastcommand = "*"
jinja2 = "*"
jsonschema = "*"
matplotlib = "*"
natsort = "*"
pillow = "*"
python-frontmatter = "*"
pyyaml = "*"
requests = "*"
tqdm = "*"

[requires]

python_version = "3"
